<h3>An error occured while processing your details.</h3>
<h5>Please contact the support team for more information.</h5>


@*<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <p>@ViewBag.ExceptionPath</p>

</div>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <p>@ViewBag.ExceptionMessage</p>

</div>
<div class="alert alert-danger">
    <h5>Stack Trace</h5>
    <p>@ViewBag.StackTrace</p>

</div>*@